#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: linear-gradient(90deg, #1d2671, #c33764);
  color: rgb(215, 232, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  z-index: 1000;
}

/* BODY SPACE FOR NAVBAR */

body {
  background: #f4f6f8;
}



